/* styles.css */


nav {
    /* 버튼 3개 들어갈 만한 크기 */
    /* 30px * 3 + 5px * 2 (margin) */
    width: 100px; 
    background-color: #333;
    color: white;
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 8px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav.show {
    max-height: 200px; /* Adjust according to the content height */
}

nav.hidden {
    max-height: 0;
}
